<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta name="robots" content="index, follow">
    <meta name="revisit-after" content="3 days">
    <meta name="rating" content="general">
    <meta name="ROBOTS" content="NOARCHIVE">
    <meta name="csrf-param" content="_backendCSRF">
    <meta name="csrf-token" content="B2kaHOvKZfn2drYekwDteeIHp-y-CxDuKRgRYEo3frJSO1R-k60zzZg74Gz0eoYjkTXeoOZxYpZRd1IFLnAwwg==">
    <title>Ansu Invest | Deventure-quote</title>
    <link rel="stylesheet" href="./dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./dist/css/owl.carousel.min.css">
    <!-- <link rel="stylesheet" href="./dist/css/slick.css"> -->
    <link rel="stylesheet" href="./dist/css/main.css">
    <link rel="stylesheet" href="./dist/css/yujen.css">
    <link rel="stylesheet" href="./dist/css/suraj.css">
    <link rel="stylesheet" href="./dist/css/ansu-dashboard-suraj.css">

    <!-- collapsible css -->
    <link rel="stylesheet" href="./dist/css/tabelizer.min.css">
    
    
    <!-- google font link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    
    <!-- main header -->
    <div class="main__header">
        
        <!-- news ticker -->
        <div class="news__ticker">
            <div class="news__ticker-wrapper wrapper">
                <div class="marquee__text">
                    <h5>NEPSE: 2,929.29
                        <span class="raise">
                            +18.54 <span class="day raise">
                                <i class="ph-arrow-up"></i>
                            </span> (0.63%)
                        </span></h5>
                    </div><!-- marquee__text -->
                    <marquee behavior="infinte" direction="left" onMouseOver="this.stop()" onMouseOut="this.start()">
                        <ul class="marquee__slider">
                            <li class="slider__items">
                                <a href="" class="slider__link">
                                    <label>NEPSE: 2,929.29</label>
                                    <p class="profile-data">
                                        <span class="raise">
                                            <i class="ph-plus"></i>
                                            18.54 
                                            <span class="down">
                                                <i class="ph-arrow-up"></i>
                                                (0.63%)
                                            </span>
                                        </span>
                                    </p>
                                </a>
                            </li>
                            <li class="slider__items">
                                <a href="" class="slider__link">
                                    <label>IDXESGL</label>
                                    <p class="ltp">134139.967 825</p>
                                    <p class="percent-change raise">0.24% <i class="ph-caret-up"></i></p>
                                </a>
                            </li>
                            <li class="slider__items">
                                <a href="" class="slider__link">
                                    <label>Composite</label>
                                    <p class="ltp">6,638.019</p>
                                    <p class="percent-change raise">0.33% <i class="ph-caret-up"></i></p>
                                </a>
                            </li>
                            <li class="slider__items">
                                <a href="" class="slider__link">
                                    <label>LQ45</label>
                                    <p class="ltp">945.068</p>
                                    <p class="percent-change down">0.03% <i class="ph-caret-down"></i></p>
                                </a>
                            </li>
                            <li class="slider__items">
                                <a href="" class="slider__link">
                                    <label>IDX30</label>
                                    <p class="ltp">134.825</p>
                                    <p class="percent-change raise">0.12% <i class="ph-caret-up"></i></p>
                                </a>
                            </li>
                            <li class="slider__items">
                                <a href="" class="slider__link">
                                    <label>Composite</label>
                                    <p class="ltp">134.825</p>
                                    <p class="percent-change raise">0.12% <i class="ph-caret-up"></i></p>
                                </a>
                            </li>
                            <li class="slider__items">
                                <a href="" class="slider__link">
                                    <label>IDX30</label>
                                    <p class="ltp">134.825</p>
                                    <p class="percent-change raise">0.12% <i class="ph-caret-up"></i></p>
                                </a>
                            </li>
                            <li class="slider__items">
                                <a href="" class="slider__link">
                                    <label>IDX30</label>
                                    <p class="ltp">134.825</p>
                                    <p class="percent-change raise">0.12% <i class="ph-caret-up"></i></p>
                                </a>
                            </li>
                            <li class="slider__items">
                                <a href="" class="slider__link">
                                    <label>Composite</label>
                                    <p class="ltp">134.825</p>
                                    <p class="percent-change raise">0.12% <i class="ph-caret-up"></i></p>
                                </a>
                            </li>
                            <li class="slider__items">
                                <a href="" class="slider__link">
                                    <label>IDX30</label>
                                    <p class="ltp">134.825</p>
                                    <p class="percent-change raise">0.12% <i class="ph-caret-up"></i></p>
                                </a>
                            </li>
                            <li class="slider__items">
                                <a href="" class="slider__link">
                                    <label>IDX30</label>
                                    <p class="ltp">134.825</p>
                                    <p class="percent-change raise">0.12% <i class="ph-caret-up"></i></p>
                                </a>
                            </li>
                            <li class="slider__items">
                                <a href="" class="slider__link">
                                    <label>IDX30</label>
                                    <p class="ltp">134.825</p>
                                    <p class="percent-change raise">0.12% <i class="ph-caret-up"></i></p>
                                </a>
                            </li>
                        </ul>
                    </marquee>
                </div>
            </div>
            <!-- end of news ticker -->
            
            <div class="main__header-top">
                <div class="main__header-top-wrapper wrapper">
                    <div class="time__counter opened">
                        <label>
                            market open:
                        </label>
                        
                        <div class="time__box">
                            <div class="time">
                                <span class="counter">
                                    02
                                </span>
                                <p class="time-title">
                                    hours
                                </p>
                            </div>
                            
                            <div class="time">
                                <span class="counter">
                                    33
                                </span>
                                <p class="time-title">
                                    minute
                                </p>
                            </div>
                            
                            <div class="time">
                                <span class="counter">
                                    15
                                </span>
                                <p class="time-title">
                                    second
                                </p>
                            </div>
                        </div>
                    </div>
                    
                    <a href="index.html" class="header__logo">
                        <img src="./dist/img/logo-black.png" alt="Ansu Invest" title="Ansu Invest">
                    </a>
                    
                    <div class="cta__wrapper">
                        <form class="search-input">
                            <input type="text" name="search" placeholder="search company" autocomplete="off">
                            <button type="submit" class="btn__search">
                                <i class="ph-magnifying-glass"></i>
                            </button>
                        </form>
                        
                        <div class="search__icon">
                            <i class="ph-magnifying-glass"></i>
                        </div>
                        
                        <a href="login.html" class="btn__login">
                            <span>
                                <i class="ph-user"></i>
                                <span class="text">
                                    login
                                </span>
                            </span>
                        </a>
                    </div>
                    
                    <!-- hamburger btn -->
                    <button type="button" class="hamburger__btn">
                        <div class="bar"></div>
                    </button>
                </div>
            </div>
            
            <div class="main__header-bottom">
                <nav class="main__header-bottom-nav wrapper">
                    <ul class="main__header-bottom-nav-menu" id="mainNavMenu">
                        <li class="menu-item">
                            <a href="index.html" class="menu-link">home</a>
                        </li>
                        <li class="menu-item">
                            <a href="" class="menu-link" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">market <i class="ph-caret-down"></i></a>
                            
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="market-summary.html">Market Summary</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="news-list.html" class="menu-link" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">news<i class="ph-caret-down"></i></a>
                            
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="news-list.html">News List</a>
                                    <a class="dropdown-item" href="news-view.html">News View</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="" class="menu-link" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">company <i class="ph-caret-down"></i></a>
                            
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li>
                                    <a class="dropdown-item" href="company-profile.html">Company Profile</a>
                                    <a class="dropdown-item" href="company-list.html">Company List</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="" class="menu-link">financials</a>
                        </li>
                        <li class="menu-item">
                            <a href="valuation.html" class="menu-link">valuation</a>
                        </li>
                        <li class="menu-item">
                            <a href="" class="menu-link">research & opinions</a>
                        </li>
                        <li class="menu-item">
                            <a href="" class="menu-link">portfolio</a>
                        </li>
                        <li class="menu-item">
                            <a href="stock-screener.html" class="menu-link">stock screener</a>
                        </li>
                        <li class="menu-item">
                            <a href="tools.html" class="menu-link active">tools</a>
                        </li>
                        <li class="menu-item">
                            <a href="" class="menu-link">knowledge</a>
                        </li>
                        <li class="menu-item has-alert-menu ">
                            <a href="" class="menu-link alert-open">today's alert
                                <span class="count__badge">
                                    <b>2</b>
                                </span> <i class="ph-caret-down"></i></a>
                                
                                <ul class="dropdown-menu megamenu" >
                                    <div class="dropdown__header">
                                        <div class="dropdown__title">
                                            <h2>Today’s Alert</h2>
                                        </div><!-- dropdown__title -->
                                        <div class="dropdown__close-icon">
                                            <a href="#"><i class="ph-x-circle-bold"></i></a>
                                        </div><!-- dropdown__close-icon -->
                                    </div><!-- dropdown__header -->
                                    <li class=" alert-item">
                                        <a href="" class="alert-link">
                                            <div class="alert-img">
                                                <img src="./dist/img/research-img1.png" alt="alert 1" title="alert 1">
                                            </div>
                                            
                                            <div class="alert-details">
                                                <h3 class="title">
                                                    Financial Performance of Neco Insurance Company
                                                </h3>
                                                
                                                <div class="read__more">
                                                    <span>
                                                        read more
                                                        <i class="ph-caret-double-right-bold" ></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    
                                    <li class="alert-item">
                                        <a href="" class="alert-link">
                                            <div class="alert-img">
                                                <img src="./dist/img/research-img2.png" alt="alert 2" title="alert 2">
                                            </div>
                                            
                                            <div class="alert-details">
                                                <h3 class="title">
                                                    Financial Performance of Neco Insurance Company Limited
                                                </h3>
                                                <div class="read__more">
                                                    <span>
                                                        read more
                                                        <i class="ph-caret-double-right-bold" ></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    
                                    <li class="alert-item">
                                        <a href="" class="alert-link">
                                            <div class="alert-img">
                                                <img src="./dist/img/research-img3.png" alt="alert 3" title="alert 3">
                                            </div>
                                            
                                            <div class="alert-details">
                                                <h3 class="title">
                                                    Financial Performance of Neco Insurance Company
                                                </h3>
                                                <div class="read__more">
                                                    <span>
                                                        read more
                                                        <i class="ph-caret-double-right-bold" ></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                    
                                    <li class="alert-item">
                                        <a href="" class="alert-link">
                                            <div class="alert-img">
                                                <img src="./dist/img/research-img4.png" alt="alert 4" title="alert 4">
                                            </div>
                                            
                                            <div class="alert-details">
                                                <h3 class="title">
                                                    Financial Performance of Neco Insurance Company Limited
                                                </h3>
                                                <div class="read__more">
                                                    <span>
                                                        read more
                                                        <i class="ph-caret-double-right-bold" ></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>
    </div>

    <section class="main__content">
        <div class="company__overview">
            <!-- company banner -->
            <div class="company__top-header">
                <div class="company__banner">
                    <div class="company__banner-wrapper">
                        <div class="company__banner-wrapper-title">
                            <h1 class="title">
                                Prudential Insurance Company Limited  (PICL)
                            </h1>
                            
                            <p class="profile-data">
                                2,929.29
                                <span class="raise">
                                    <i class="ph-arrow-up-bold"></i>
                                    18.54 
                                    <span class="raise">
                                        (+0.63%)
                                    </span>
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="company__overview-wrapper-tablist wrapper mutual__tablist">
                    <ul class="nav nav-tabs" id="myTab" role="tablist" >
                        <li class="nav-item">
                            <a class="nav-link active " id="debenture-quote-tab" data-toggle="tab" href="#debenture-quote" role="tab" aria-controls="debenture-quote" aria-selected="true">quote</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" id="debenture-valuation-tab" data-toggle="tab" href="#debenture-valuation" role="tab" aria-controls="debenture-valuation" aria-selected="false">Valuation</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" id="debenture-analysis-tab" data-toggle="tab" href="#debenture-analysis" role="tab" aria-controls="debenture-analysis" aria-selected="false">Analysis</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" id="debenture-news-tab" data-toggle="tab" href="#debenture-news" role="tab" aria-controls="debenture-news" aria-selected="false">News</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" id="debenture-ytm-tab" data-toggle="tab" href="#debenture-ytm" role="tab" aria-controls="debenture-ytm" aria-selected="false">YTM Calculator</a>
                        </li>
                        
                    </ul>
                </div>
            </div><!-- company__top-header -->
            <div class="company__overview-wrapper mutual__profile wrapper debenture__profile">
                <div class="company__overview-wrapper-content tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="debenture-quote" role="tabpanel" aria-labelledby="debenture-quote-tab">
                        <div class="overview__grid mutual__quote debenture__quote">
                            <div class="overview__grid-graph">
                                <div class="overview__grid-graph-chart">
                                    <h2 class="title">PICL</h2>
                                    <div class="chart-range-wrapper">
                                        <div class="quick-stat">810.45
                                            <span class="safe">
                                                <i _ngcontent-cvr-c4="" class="ph-arrow-up" ng-reflect-ng-class="ph-arrow-up"></i>
                                                18.54
                                                (+0.63%)
                                            </span>
                                        </div>
                                        <div class="price__wrap">
                                            <h5>Price: <span>10.45</span></h5>
                                            <h5>NAV: <span>12.43</span></h5>
                                            <h5>Premium /Discount: <span>3.45</span></h5>
                                        </div><!-- price__wrap -->
                                    </div>
                                    <div class="chart-wrapper">
                                        <div id="overview-chart">
                                            <!-- For Company Profile Graph -->
                        
                                            <p *ngIf="loading">Loading graph data of {{ currentRoom }}...</p>
                                            <highcharts-chart *ngIf="showGraph" [Highcharts]="highcharts" [options]="companyProfileChartOptions" style="width: 100%; height: 400px; display: block">
                                            </highcharts-chart>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="section__screme">
                                    <div class="screme__detail ">
                                        <div class="screme__fund">
                                            <table class="fund-rating__table">
                                                <tr>
                                                    <td>Coupon Rate</td>
                                                    <td>10.25%</td>
                                                </tr>
                                                <tr>
                                                    <td>Type</td>
                                                    <td>Secured</td>
                                                </tr>
                                                <tr>
                                                    <td>Coupon Payment</td>
                                                    <td>Quaterly</td>
                                                </tr>
                                                <tr>
                                                    <td>Next Coupon Date</td>
                                                    <td>-</td>
                                                </tr>
                                                <tr>
                                                    <td>Maturity Date</td>
                                                    <td>1/20/2021</td>
                                                </tr>
                                                <tr>
                                                    <td>Time to Maturity</td>
                                                    <td>2 years 6 month</td>
                                                </tr>
                                                <tr>
                                                    <td>YTM</td>
                                                    <td>-</td>
                                                </tr>
                                                <tr>
                                                    <td>Coupon Spread</td>
                                                    <td>-</td>
                                                </tr>
                                                <tr>
                                                    <td>Valuation</td>
                                                    <td>-</td>
                                                </tr>
                                            </table>
                                            </div><!-- screme__fund -->
                                                </div><!-- screme__fund screme__sponsor screme__expense -->
                                </div><!-- screme__detail -->
                            </div>
                            <div class="section__screme">
                                <div class="screme__detail ">
                                    <div class="screme__fund screme__sponsor screme__expense">
                                        <div class="portfolio__table table__manager">
                                    <table>
                                        <tbody>
                                        <tr>
                                            <th class="pl-2" >Sno</th>
                                            <th class="pr-2" >Symbol</th>
                                            <th class="pr-2" class="alian__name">Name</th>
                                            <th class="pr-2" >Issued Units</th>
                                            <th class="pr-2" >Face Value</th>
                                            <th class="pr-2" >Maturity Date</th>
                                            <th class="pr-2" >Time to Maturity</th>
                                            <th class="pl-2" >Coupon Rate</th>
                                            <th class="pr-2" >Coupon Payment</th>
                                            <th class="pr-2" >Next coupon date</th>
                                            <th class="pr-2" >YTM</th>
                                            <th class="pr-2" >Credit spread</th>
                                            <th class="pr-2" >LTP</th>
                                            <th class="pr-2" >Last Trading Date</th>
                                        </tr>
                                            <tr>
                                                <td> 1</td>
                                                <td>FMDBL</td>
                                                <td class="alian__name">First Microfinance Laghu..</td>
                                                <td>10</td>
                                                <td>10</td>
                                                <td>21/02/2021</td>
                                                <td class="text-right">21/02/2021</td>
                                                <td> 40</td>
                                                <td>40</td>
                                                <td>40</td>
                                                <td>40</td>
                                                <td>40</td>
                                                <td>40</td>
                                                <td class="text-right">21/02/2021</td>
                                            </tr>
                                            <tr>
                                                <td> 2</td>
                                                <td>GLBSL</td>
                                                <td class="alian__name">Gurans Laghubitt Bittiya..</td>
                                                <td>10</td>
                                                <td>10</td>
                                                <td>21/02/2021</td>
                                                <td class="text-right">21/02/2021</td>
                                                <td> 40</td>
                                                <td>40</td>
                                                <td>40</td>
                                                <td>40</td>
                                                <td>40</td>
                                                <td>40</td>
                                                <td class="text-right">21/02/2021</td>
                                            </tr>
                                            <tr>
                                                <td> 3</td>
                                                <td>CBL</td>
                                                <td class="alian__name">Civil Bank Limited</td>
                                                <td>10</td>
                                                <td>10</td>
                                                <td>21/02/2021</td>
                                                <td class="text-right">21/02/2021</td>
                                                <td> 40</td>
                                                <td>40</td>
                                                <td>40</td>
                                                <td>40</td>
                                                <td>40</td>
                                                <td>40</td>
                                                <td class="text-right">21/02/2021</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                            
                            <div class="tab-pane fade" id="debenture-valuation" role="tabpanel" aria-labelledby="debenture-valuation-tab">
                            222222222222222222222222222222
                            </div>
                            
                            <div class="tab-pane fade" id="debenture-analysis" role="tabpanel" aria-labelledby="debenture-analysis-tab">
                                3333333333333333333333333333333
                            </div>
                            
                            <div class="tab-pane fade" id="debenture-news" role="tabpanel" aria-labelledby="debenture-news-tab">
                                4444444444444444444444444444444444444
                            </div>
                            
                            <div class="tab-pane fade" id="debenture-ytm" role="tabpanel" aria-labelledby="debenture-ytm-tab">
                                <div class="form__text form__text-wrap ytm__text-wrap">
                                    <div class="row mb-3">
                                        <div class="col-xl-3 col-md-6">
                                            <form class="form__details detail-select portfolio__form-box">
                                                <label>Latest trading price</label>
                                                <input type="text" class="form-input-wrap" placeholder="320">
                                            </form><!-- form__details -->
                                        </div><!-- col-xl-3 col-md-6 -->
                                        <div class="col-xl-3 col-md-6">
                                            <form class="form__details detail-select portfolio__form-box">
                                                <label>Future coupon payment date</label>
                                               <input type="date" class="form-input-wrap">
                                            </form><!-- form__details -->
                                        </div><!-- col-xl-3 col-md-6 -->
                                         <div class="col-xl-3 col-md-6">
                                            <form class="form__details detail-select portfolio__form-box">
                                                <label>Future coupon amount</label>
                                                <input type="text" class="form-input-wrap" placeholder="-">
                                            </form><!-- form__details -->
                                        </div><!-- col-xl-3 col-md-6 -->
                                        <div class="col-xl-3 col-md-6">
                                            <form class="form__details detail-select portfolio__form-box">
                                                <label>Maturity date</label>
                                                <input type="date" class="form-input-wrap">
                                            </form><!-- form__details -->
                                        </div><!-- col-xl-3 col-md-6 -->
                                        <div class="col-xl-3 col-md-6">
                                            <form class="form__details detail-select portfolio__form-box">
                                                <label>Redemption value</label>
                                               <input type="text" class="form-input-wrap" placeholder="-">
                                            </form><!-- form__details -->
                                        </div><!-- col-xl-3 col-md-6 -->
                                        <div class="col-xl-3 col-md-6">
                                            <form class="form__details detail-select portfolio__form-box">
                                                <label>YTM rate (IRR)</label>
                                                <input type="text" class="form-input-wrap" placeholder="-">
                                            </form><!-- form__details -->
                                            
                                        </div><!-- col-xl-3 col-md-6 -->
                                    </div><!-- row -->
                                    <div class="calculate__button  profile__button button__save">
                                        <a href="#" class="profile__button button__save add__button calculate__btn">Calculate</a>
                                        <a href="#" class="profile__button button__save down__button 
                                        clear__btn">Clear</a>
                                    </div><!-- calculate__button -->
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>




    <!-- footer section -->
    <div class="footer__section">
        <div class="footer__section-top">
            <div class="footer__section-top-wrapper">
                <div class="footer__section-top-wrapper-content wrapper">
                    <div class="footer-header">
                        <a href="index.html" class="footer__logo">
                            <img src="./dist/img/logo-black.png" alt="Ansu Invest" title="Ansu Invest">
                        </a>
                        
                        <p class="des">
                            With the motto of value, integrity, and diligence, our edge lies in creating and maximizing long-term investment value.
                        </p>
                        
                        <ul class="contact__details">
                            <li>
                                <span class="icon">
                                    <i class="ph-phone-call"></i>
                                </span>
                                
                                <p class="detail">
                                    have a question?
                                    <a href="tel:01-4426296">
                                        01-4426296
                                    </a>
                                </p>
                            </li>
                            
                            <li>
                                <span class="icon">
                                    <i class="ph-envelope-simple"></i>
                                </span>
                                
                                <p class="detail">
                                    contact us at
                                    <a href="mailto:ansuinvest@gmail.com">ansuinvest@gmail.com</a>
                                </p>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="newsletter-content">
                        <h2 class="title">
                            newsletter
                        </h2>
                        
                        <p class="des">
                            Be the first one to know  about latest news, trends and stay updated about all the important facts about stock market..
                        </p>
                        
                        <form action="" class="newsletter-form">
                            <div class="input-box">
                                <input type="text" name="newsletter" placeholder="enter your email here..." autocomplete="off">
                                
                                <button class="btn__submit" type="submit">
                                    <span>
                                        submit
                                    </span>
                                </button>
                            </div>
                        </form>
                        
                        <div class="download__app">
                            <h3 class="title">
                                download the app here
                            </h3>
                            
                            <div class="apps">
                                <a href="" class="btn__download">
                                    <i class="ph-apple-logo"></i>
                                </a>
                                
                                <a href="" class="btn__download">
                                    <i class="ph-android-logo"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="subscription-content">
                        <div class="social-media">
                            <h2 class="title">
                                get in touch
                            </h2>
                            
                            <div class="social-links">
                                <a href="" class="social">
                                    <i class="ph-facebook-logo"></i>
                                </a>
                                <a href="" class="social">
                                    <i class="ph-twitter-logo"></i>
                                </a>
                                <a href="" class="social">
                                    <i class="ph-youtube-logo"></i>
                                </a>
                            </div>
                        </div>
                        
                        <div class="subscription-plans">
                            <h3 class="label">
                                subscription plans
                            </h3>
                            
                            <h4 class="sub-label">
                                get started for <span>free</span>
                            </h4>
                            
                            <div class="month-price">
                                <p class="month">
                                    3 months
                                </p>
                                
                                <p class="price">
                                    rs. 0 /-
                                </p>
                            </div>
                            
                            <a href="" class="btn__subscribe">
                                <span>
                                    subscribe now
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
            <nav class="footer__section-top-nav">
                <ul class="footer__menu wrapper">
                    <li class="footer-item">
                        <a href="" class="footer-link">
                            research & opinions
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-link">
                            news
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-link">
                            FAQ
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-link">
                            analysis
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-link">
                            market
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-link">
                            contact
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-link">
                            info
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-link">
                            company
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-link">
                            valuation
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-link">
                            tools
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-link">
                            financials
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-link">
                            investment opportunities
                        </a>
                    </li>
                    <li class="footer-item">
                        <a href="" class="footer-link">
                            financial reports
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        
        <div class="footer__section-bottom ">
            <div class="footer__section-bottom-wrapper wrapper">
                <p class="copyright-text">
                    © 2022,  All Rights Reserved | Design by Bent Ray Technologies
                </p>
            </div>
        </div>
    </div>
    
    <script src="./dist/js/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="./dist/js/bootstrap.min.js"></script>
    
    <!-- highchart links -->
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/data.js"></script>
    
    <script src="https://code.highcharts.com/stock/indicators/indicators-all.js"></script>
    <script src="https://code.highcharts.com/stock/modules/drag-panes.js"></script>
    
    <script src="https://code.highcharts.com/modules/annotations-advanced.js"></script>
    <script src="https://code.highcharts.com/modules/price-indicator.js"></script>
    <script src="https://code.highcharts.com/modules/full-screen.js"></script>
    
    <script src="https://code.highcharts.com/modules/stock-tools.js"></script>
    
    <script src="https://code.highcharts.com/stock/modules/heikinashi.js"></script>
    <script src="https://code.highcharts.com/stock/modules/hollowcandlestick.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    
    <!-- <script src="./dist/js/slick.min.js"></script> -->
    <script src="./dist/js/owl.carousel.min.js"></script>
    <script src="./dist/js/app.js"></script>
    <script src="./dist/js/modal-popup.js"></script>
    <script src="./dist/js/highchart.js"></script>
    
    <!-- phosphor icon cdn -->
    <script src="https://unpkg.com/phosphor-icons"></script>
</body>
</html>